.body {
          border: 2px solid #4ade80;  /* green border */
          padding: 20px;
          margin: 2px;
          border-radius: 12px;
          background-color: #f8fafc;
        }

        .p{
        background-color: #f8fafc;
        }

         .form-box {
                  border: 2px solid #4ade80;  /* green border */
                  padding: 20px;
                  margin: 2px:
                  border-radius: 12px;
                  background-color: #f8fafc;
                }